* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
#menu-icon {
  display: none;
  cursor: pointer;
}
.heading {
  
  display: flex;
  justify-content: space-around;
}
.logo {
  flex: 1;
}
.logo img {
  width: 50%;
  margin-left: 40px;
}
.nav-bar ul {
  
  display: flex;
  justify-content: space-around;
  flex: 2;
}
.nav-bar ul li {
  margin: 30px 10px 10px;
  list-style-type: none;
}
.nav-bar li a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}
.nav-bar a:hover {
  color: rgb(48, 169, 131);
}
.search-bar {
  flex: 2;
  margin-top: 25px;
  margin-left: 100px;
  position: relative;
}

.search-bar input {
  padding: 7px 8px;
  border: 1px solid rgb(202, 200, 200);
  outline: none;
  font-weight: bold;
  width: 55%;
  box-shadow: 2px 2px 5px 5px rgb(246, 251, 251);
}

.search-bar #search-img {
  width: 15px;
  height: 15px;
  position: absolute;
  top: 8px;
  left: 200px;
}

  #heart {
  position: absolute;
  top: 5px;
  left: 200px;
  cursor: pointer;
}

#heart::after{
    content: '3';
   

}
 #cart {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 4px;
  left: 320px;
  cursor: pointer;
}
#cart::after{
  content: '3';
}
/* hero section start */
.row {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
  padding: 40px;
}

#heading span {
  color: rgb(46, 139, 108);
  font-size: 38px;
}

.col-2 p,
button,
h1 {
  margin-top: 30px;
}

.col-2 p,
span {
  color: gray;
}

.col-2 button {
  padding: 7px;
  border-radius: 5px;
  background-color: rgb(36, 129, 99);
  border: none;
}

.col-2 button:hover {
  background-color: white;
  border: 1px solid rgb(31, 136, 103);
}

.col-2 button a {
  color: white;
  text-decoration: none;
}

.col-2 button a:hover {
  color: rgb(36, 129, 99);
}

.home-img img {
  width: 100%;
}

/* popular categories */
/* Base Styles */
.moving-fun {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.both {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  text-align: center;
  border: 1px solid aqua;
  margin-right: 10px;
  background-color: rgb(68, 201, 201);
  outline: none;
  cursor: pointer;
}

#popular {
  margin-left: 30px;
  color: rgb(45, 148, 114);
  font-size: 18px;
  font-weight: bold;
}

#popular span {
  margin-left: 5px;
  color: black;
}

.popular-img {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 20px;
  margin-top: 10px;
  gap: 15px;
}

.images-category {
  border: 1px solid rgb(181, 200, 200);
  border-radius: 7px;
  padding: 10px;
  width: 200px; 
  text-align: center;
}

.images-category img {
  width: 100%;
  border-radius: 5px;
}

.images-category p {
  text-align: center;
  margin-top: 15px;
  margin-bottom: 5px;
  color: gray;
}





/* Featured protects*/ 
.box-3 button {
  margin-left: 30px;
  border-radius: 3px;
  border: none;
  padding: 7px 10px;
  background-color: rgb(187, 184, 184);

}
.box-3 button:hover {
  background-color: rgb(254, 154, 118);
  color: rgb(31, 136, 103);
}
.box-3 button a {
  text-decoration: none;
  color: black;
}
.box-3 button a:hover {
  color: rgb(38, 126, 126);
}
/* protects images */
.fir-potion-img {
  
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: 10px;
}

.fir-4-img {
  position: relative;
  border: 1px solid rgb(207, 229, 229);
  margin: 10px 10px 10px;
  padding: 10px;
  border-radius: 10px;
}
 .discount {
  position: absolute;
  left: 24px;
  top: 18px;
  color: white;
  font-size: 14px;
  border: none;
  outline: none;
  border-radius: 8px;
  padding: 1px 6px;
}
.fir-4-img .img-1 {
  width: 100%;
  border-radius: 10px;
 
}
.awesome img{
  position: absolute;
  top: 315px;
  left: 187px;
  cursor: pointer;
  

 }

#round{
  position: absolute;
  top: 307px;
  left: 180px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgb(198, 198, 198);
  background-color: rgb(230, 254, 247);
  cursor: pointer;
}

/* tooltip */

.add-cart{
  position: absolute;
  top:272px;
  left: 150px;
  background: #fff;
  font-size: 14px;
  padding: 5px 10px;
  opacity: 0;
  pointer-events: none;
}
.awesome:hover .add-cart{
  opacity: 1;
  pointer-events: auto;
  background-color: rgb(48, 168, 168);
  color: white;
  border-radius: 3px;
}
.add-cart::before{
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  bottom:-6px;
  left: 50%;
  transform: translateX(-50%) rotate(-45deg);
  background-color: rgb(48, 168, 168);

}

.hover-img{
  position: absolute;
  top: 15px;
 opacity: 0;
  width: 90%;
scroll-behavior: smooth;
}
.hover-img:hover{
  
  opacity: 1;
}

.fir-4-img small,
h5,
p {
  margin-top: 10px;
}
.fir-4-img small {
  font-size: 12px;
  color: gray;
}
.fir-4-img h5 {
  font-weight: lighter;
}
.fir-4-img .rating {
  color: rgb(252, 104, 50);
  margin-top: 10px;
}
.fir-4-img p {
  color: rgb(14, 166, 166);
}
.fir-4-img p span {
  text-decoration: line-through;
}


/* 2-half-potion */
.half-potion {
  display: flex;
  justify-content: space-between;
  margin: 10px 20px;
}
.Deals-day {
  display: flex;
  justify-content: space-between;
  margin: 10px;
  position: relative;
}
.summer-collection {
  position: absolute;
  top: 15px;
  left: 20px;
}
.summer-collection h3,
small,
p {
  margin-top: 18px;
}
.summer-collection h3 {
  color: rgb(5, 137, 137);
}
.summer-collection p {
  color: gray;
}

.summer-collection #price {
  color: rgb(43, 136, 136);
}
.summer-collection #price span {
  text-decoration: line-through;
  color: red;
}

.summer-collection-img img {
  width: 100%;
  height: 80vh;
}
.time-zone button {
  padding: 13px 15px;
  margin-left: 7px;
  background-color: rgb(7, 129, 129);
  border: none;
  color: whitesmoke;
  font-weight: bold;
}
.summer-collection .para-tag {
  display: flex;
  justify-content: space-around;
}



.summer-collection #shop-now {
  padding: 7px;
  border-radius: 5px;
  color: rgb(38, 129, 100);
  background: transparent;
  border: 1px solid rgb(38, 129, 100);
}


 .summer-collection #shop-now a:hover {
  color: rgb(37, 120, 94);
}
.new-arrivals #new-para {
  color: rgb(38, 129, 100);
  margin-left: 30px;
}



/* trending protects */
.layout-4 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  position: relative;
 margin-top: 20px;
}
.layout-4 p{
  
  margin-left: 20px;
  font-weight: bold;
  border-bottom: 2px solid rgb(18, 55, 55);
  display: inline-block;
  width: fit-content;
}
.trending-protects {

  margin: 20px;
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.together {
  display: flex;
  margin-top: 20px;
}
.together p {
  font-size: 15px;
}
.together p:last-child {
  color: rgb(18, 148, 148);
}
.together p span {
  text-decoration: line-through;
}
.together img {
  width: 30%;
}

/* additional info */
.additional-info {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background-color: rgb(9, 100, 100);
  margin: 10px;
  padding: 20px;
  border-radius: 5px;
  position: relative;
}
.newsletter {
  display: flex;
}
.newsletter p {
  margin-left: 10px;
}
.newsletter img {
  width: 40px;
  height: 40px;
  border-radius: 8px;
}
.email-logo p {
  color: whitesmoke;
  /* font-weight: bold; */
}
.email-logo input {
  border-radius: 5px;
  padding: 8px 8px;
  border: none;
  width: 70%;
  outline: none;
  position: relative;
  top: -15px;
}
.email-logo button {
  padding: 8px 8px;
  margin-left: 0px;
  background-color: black;
  border: none;
  border-radius: 7px;
  position: relative;
  top: -15px;
  left: -4.5px;
}
.email-logo button a {
  color: white;
  text-decoration: none;
}
.email-logo button:hover {
  background-color: rgb(78, 191, 191);
}
.email-logo button a:hover {
  color: black;
  font-weight: bold;
}
/* footer section */

.footer-section {
 
  display: flex;
  background-color: gray;
  justify-content: space-between;
  margin: 20px 0px;
  padding: 15px;
}
.footer-method {
  margin-top: 20px;
  margin-bottom: 20px;
}
.footer-method p {
  font-weight: bold;
}
.footer-method li {
  list-style-type: none;
  color: white;
  margin-left: 10px;
  margin-top: 10px;
  font-weight: bold;
}
.footer-method li a {
  color:white;
  text-decoration: none;
}
.footer-method .logo img {
  width: 20%;
}
.paymeent-pic img {
  margin-top: 10px;
}
/* social-media */
.social-media {
  margin-bottom: 5px;
  text-align: center;
}
.social-media small {
  color: gray;
  font-weight: bold;
}
hr {
  color: gray;
  margin: 0px 20px;
}
/* copy-right */
.copy-right {
  display: flex;
  justify-content: space-between;
  margin: 5px 50px;
  color: gray;
  font-weight: bold;
  
}
@media  (max-width: 1024px) {
  .logo img{
    width: 70%;
  }
.search-bar{
    margin-top: 20px;
    margin-left: 10px;
}
 .search-bar #search-img{
  
    left: 130px;
}
.search-bar #heart{
 
    left: 130px;
}

.search-bar #cart{
  
    left: 220px;
}
.home-img img {
    max-width: 80%;
    margin-top: 20px;
  }
  /* popular category */
  .moving-fun {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  #popular {
    margin-left: 0;
    font-size: 16px;
  }

  .both {
    width: 25px;
    height: 25px;
  }

  .popular-img {
    justify-content: center;
    gap: 10px; 
  }

  .images-category {
    width: 150px; 
  }

  .images-category p {
    font-size: 14px;
  }
  /* featured product */
  .fir-potion-img{
      grid-template-columns: repeat(3, 1fr);
  }
  .awesome img{
      display:none ;
       
   }
    #round{
       display: none;
 }
     .fir-4-img .rating {
      font-size: 14px;
  
 }
    /* 2 half-potion */
  .half-potion {
      flex-wrap: wrap;
    }
  .summer-collection-img img {
      width: 100%;
      height: 35vh;
    }

    .layout-4{
      flex-wrap: wrap;
    }
  .additional-info {
    grid-template-columns: repeat(2, 1fr);
   
  }
  .newsletter {
    flex-wrap: wrap;
  }

  /* footer section */
  .footer-section {
    flex-wrap: wrap;
    justify-content: space-around;
    }
   /* copy-right */
.copy-right {
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 10px;
 } 
}
@media (max-width:600px) {

  /* Hide the menu by default for mobile */
  #mobile-menu {
    display: none;
    list-style: none;
    padding: 0;
    margin: 0;
    transition: max-height 0.3s ease;
    max-height: 0;
    overflow: hidden;
  }

  #mobile-menu.show {
    display: block; 
    max-height: 500px; 
  }

  #menu-icon {
    display: block; 
    cursor: pointer;
    color: rgb(39, 89, 89);
    margin: 20px 60px;
    font-size: 25px;
  }
  
.search-bar{
  display: none;
}
.logo img{
  width: 30%;
  margin-top: 10px;
}


.nav-bar li a {
  font-size: 15px;
}
  /* hero section */

  .row {
  flex-direction: column;
   text-align: center;
   margin-top: 0px;
  }
  
  #heading span {
    font-size: 23px;
  }
  .home-img img{
    margin-top: 30px;
  }
 
  /* popular category */
  .moving-fun {
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  #popular {
    font-size: 14px;
  }

  .both {
    width: 20px;
    height: 20px;
    font-size: 12px;
  }

  .popular-img {
    justify-content: center;
    gap: 8px;
  }

  .images-category {
    width: 120px; 
  }

  .images-category p {
    font-size: 12px;
  }
  /* feaured product */

  .fir-potion-img{
    grid-template-columns: repeat(1, 1fr);
  }
  .fir-4-img {
    margin: 5px 5px 5px;
    padding: 5px;
  }
   
  .fir-4-img .img-1 {
    width: 100%;
    height: 300px;
   
  }
  .hover-img{
    height: 300px;
  }
  .awesome img{
   display:none ;
    
}
 #round{
    display: none;
  
  }
   .fir-4-img .rating {
    font-size: 11px;

  }
    /* 2 half-potion */
    .half-potion {
      flex-wrap: wrap;
    }
.summer-collection-img img {
  width: 100%;
  height: 55vh;
}

.layout-4{
  grid-template-columns: repeat(1,1fr);
}
.trending-protects{
  grid-template-columns: repeat(1,1fr);
}
.additional-info {
  grid-template-columns: repeat(1, 1fr);
  text-align: center;
 
}
.newsletter {
  flex-wrap: wrap;
}
.email-logo{
  margin-top: 5px;
}

   /* footer section */
   .footer-section {
    justify-content: center;
    }
    .footer-section .logo img{
       
      margin-left:40%;
  }

       /* copy-right */
.copy-right {
  justify-content:center;
 } 
}
